body{
    background-color: black;
}

h1{
    font-size: 40px;
    color: yellow;
}

h2{
    font-style: oblique;
    color:blueviolet
}

p1,p2,p3,p4,p5,p6{
    color: white;
}

p1{
    font-size: serif;
}

p2{
    font-style: sans-serif;
}

p3{
    font-style: fantasy;
}

p4{
    font-style: cursive;
}

p5{
    font-style: monospace;
}